
<div class="min-h-screen flex flex-col md:flex-row items-stretch  bg-[#F6F1EB] " id="aboutus">
    <!-- Bal kép -->

    <div class="w-full md:w-1/3 flex justify-center items-center">
        <img ngSrc="/assets/images/unsplash_uG3Vu5TXKxE.png" alt="Left" class="w-full max-w-full object-cover rounded h-full"
             height="1200" width="900"/>
    </div>
    <!-- Középső szöveg -->

    <div class="w-full md:w-1/3 flex flex-col justify-center items-center text-center p-6 bg-[#F6F1EB]">
        <h1 class="text-3xl md:text-5xl font-bold mb-4">Rólunk</h1>
        <p class="text-lg md:text-xl max-w-md">
            Pékségünk története generációkra nyúlik vissza – a kenyérsütés mesterségét családról családra adtuk tovább, szeretettel és odaadással. Számunkra a sütés nemcsak munka, hanem szenvedély!
        </p>
    </div>
    <!-- Jobb kép -->
    <div class="w-full md:w-1/3 flex justify-center items-center">
        <img ngSrc="/assets/images/unsplash_uG3Vu5TXK.png" alt="Right" class="w-full max-w-full object-cover rounded h-full"
             height="1200" width="900"/>
    </div>
</div>
