<div class="w-full">
    <div class="h-screen flex flex-col justify-center items-center text-2xl" id="homepage" >
        <div class="bg-cover bg-center bg-[url('/assets/icons/homebg.png')]">
            <h1>Üdvözöllek pékségünk honlapján!</h1>
            <p>
                Frissen sült kenyereink és péksüteményeink<br />
                minden nap várnak rád.<br />
                Látogass el hozzánk,<br />
                és kóstold meg a édes és sós finomságainkat!
            </p>
        </div>
    </div>
</div>