<div class="h-screen w-full flex flex-col justify-center items-center text-2xl
bg-[url('/assets/images/homebg.png')] bg-cover bg-center bg-[#333333] space-y-7" id="homepage">
    <h1 class="flex justify-center text-center">
        Üdvözöllek az Európa Friss Pékség honlapján!
    </h1>
    <div class="flex">
        <p class="flex items-center justify-center text-center">
            Frissen sült kenyereink és péksüteményeink<br/>
            minden nap várnak rád.
            Látogass el hozzánk,<br/>
            és kóstold meg a édes és sós finomságainkat!
        </p>
    </div>
</div>