
    <div class="h-screen flex flex-col justify-center items-center text-2xl bg-[url('/assets/images/homebg.png')] bg-cover bg-center bg-[#333333]" id="homepage" >
        <div class="">
            <h1>Üdvözöllek pékségünk honlapján!</h1>
            <p>
                Frissen sült kenyereink és péksüteményeink<br />
                minden nap várnak rád.<br />
                Látogass el hozzánk,<br />
                és kóstold meg a édes és sós finomságainkat!
            </p>
        </div>
    </div>
