<div [class]="navbarClass">
    <div class="flex items-center justify-center ">
        <a href="#homepage">
            <img
                    [ngSrc]="isTop ? '/assets/icons/logo0.svg' : '/assets/icons/logo1.svg'"
                    alt="logo"
                    class="w-[95px] h-[70px] cursor-pointer"
                    height="70"
                    width="95"
            />
        </a>
    </div>


    <div class="sm:hidden content-center">
        <img
                ngSrc="/assets/icons/manu_icon.svg"
                alt="menu-icon"
                class="flex items-center "
                height="24"
                width="24"
        />
    </div>
    <div class="hidden sm:flex gap-5 items-center">
            <div><a [ngClass]="getLinkClass()" href="#homepage">Főoldal</a></div>
            <div><a [ngClass]="getLinkClass()" href="#galeria">Galéria</a></div>
            <div><a [ngClass]="getLinkClass()" href="#aboutus">Rólunk</a></div>
            <div><a [ngClass]="getLinkClass()" href="#contact">Kapcsolat</a></div>
        </div>
    </div>
