
    <div class="flex fixed top-0 left-0 w-full bg-white/80 shadow-md shadow-black/30 z-[1000]">
        <div class="flex items-center justify-center">
            <svg class="h-12 w-auto" src="./src/app/assets/icons/logo.svg" />
        </div>
    <div class="flex justify-between items-center, px-[22px]">

        <div class="flex gap-5 fixed">
            <div><a class="" href="#homepage">Főoldal</a></div>
            <div><a href="#galeria">Galéria</a></div>
            <div><a href="#aboutus">Rólunk</a></div>
            <div><a href="#contact">Kapcsolat</a></div>
        </div>
    </div>
    </div>
