<div>
    <div class="h-screen flex flex-col justify-center items-center text-2xl" id="galeria" #pageRef>
        <div class="page-content product-feature-section">
            <div class="feature-images">
                <div class="img-row img-row-top">
                    <img src="assets/images/bakery-top 1.png" alt="Csomagolás" class="feature-img small" />
                    <div class="img-row img-row-bottom">
                        <img src="assets/images/bakery-left.png" alt="Csomagolás" class="feature-img small" />
                        <img src="assets/images/bakery-center.png" alt="Pult" class="feature-img small" />
                    </div>
                </div>

                <div class="feature-text">
                    <h2>Long heading is what you see here in this feature section</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                    <div class="subheadings">
                        <div>
                            <h4>Subheading one</h4>
                            <p>Lorem ipsum dolor sit amet...</p>
                        </div>
                        <div>
                            <h4>Subheading two</h4>
                            <p>Lorem ipsum dolor sit amet...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>