<div class=" flex  justify-evenly bg-[#F6F1EB] py-4">
    <!-- section 1 -->
    <div class="flex" >
        <div class=" flex flex-col">
            <p class="font-light text-[#2E2B28] leading-none text-center box-border font-sans"><img
                    ngSrc="/assets/icons/home.svg"
                    alt="logo"
                    height="9"
                    width="18"

            />
                Elérhetőség
                <img
                        ngSrc="/assets/icons/line.svg"
                        alt="line"
                        width="258"
                        height="1"
                        class="py-2"
                />
            </p>
            <p class="font-light text-[#2E2B28] leading-none text-center box-border font-sans py-1">1092 Budapest, Ráday u. 30.</p>
            <p class="font-light text-[#2E2B28] leading-none text-center box-border font-sans py-1">+36 30 682 6631</p>

        </div>
    </div>
  <!-- svg -->
  <div class="flex">

    <a class="flex justify-center content-center" href="#homepage">

      <img
        ngSrc="/assets/icons/logo1.svg"
        alt="logo"
        class="cursor-pointer"
        height="60"
        width="92"

      />
    </a>
  </div>
    <!-- section 2 -->
    <div class="flex">
        <div class=" flex flex-col">
            <p class="font-light text-[#2E2B28] leading-none text-center box-border font-sans" ><img
                    ngSrc="/assets/icons/lan.svg"
                    alt="logo"
                    height="9"
                    width="18"

            />
                Oldalak
                <img
                        ngSrc="/assets/icons/line.svg"
                        alt="line"
                        width="258"
                        height="1"
                        class="py-2"
                />
            </p>
            <p class="font-light text-[#2E2B28] leading-none text-center box-border font-sans py-1">Főoldal</p>
            <p class="font-light text-[#2E2B28] leading-none text-center box-border font-sans py-1">Rólam</p>
            <p class="font-light text-[#2E2B28] leading-none text-center box-border font-sans py-1">Galéria</p>
            <p class="font-light text-[#2E2B28] leading-none text-center box-border font-sans py-1">Kapcsolat</p>
        </div>

    </div>

</div>


<div>
    <!-- consents & rights -->
    <div class="flex flex-col items-center bg-[#F6F1EB] py-4">
        <!-- elválasztó vonal -->
        <div class="w-full flex justify-center">
            <img
                    ngSrc="/assets/icons/lineb.svg"
                    alt="line"
                    width="1268"
                    height="1"
            />
        </div>

        <!-- linkek -->
        <div class="flex gap-4 mt-2">
            <p class="text-[#2E2B28] hover:underline font-light font-sans text-xs">Európa Friss Pékség - Minden jog fenntartva!</p>
            <span class="text-[#CECECE] font-light font-sans text-xs">|</span>
            <a href="https://policies.google.com/privacy?hl=hu" class="text-[#2E2B28] hover:underline font-light font-sans text-xs">Adatvédelmi tájékoztató</a>
            <span class="text-[#CECECE] font-light font-sans text-xs">|</span>
            <a href="/suti-szabalyzat" class="text-[#2E2B28] hover:underline font-light font-sans text-xs">Süti szabályzat</a>
        </div>
    </div>
</div>